<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/Style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/AdminStyle.css">
	<title>{% block title %}{% endblock %}</title>

	{% block head_scripts %}
	{% endblock %}
</head>
<body>
	<div class="header">
		<a href="/admin">ГЛАВНАЯ</a>
		<a href="/admin/releases">РЕЛИЗЫ</a>
		<a href="/admin/artists">АРТИСТЫ</a>
		<a href="/admin/platforms">ПЛОЩАДКИ</a>
	</div>

	<div class="content">
		{% block content %}
		{% endblock %}
	</div>

	{% block footer_scripts %}
	{% endblock %}
</body>
</html>