{% extends './layouts/admin_base.html' %}

{% block title %}{{ platform["name"] }}{% endblock %}

{% block content %}
	<h1>Редактирование: {{ platform["name"] }}</h1>

	<div class="side">
		<div class="blackout">
			<form id="upload" enctype="multipart/form-data" method="post">
				<input id="upload_url" type="text" accept="*/*" placeholder="По URL">
				<label for="file-upload" class="custom-file-upload">
					Выберите файл
				</label>
				<input id="file-upload" type="file" accept="image/*">
			</form>

			<button class="refresh-button" id="refresh_image" onclick="on_refresh_button_click()">Обновить иконку</button>
		</div>

		<img src="{{ platform['icon_url'] }}">
	</div>

	<div class="side">
		<h2>{{ artists_names }}</h2>

		{% if platform['platform_id'] == 'NEW' %}
			<form action="/api/create_object?redirect=/admin/platforms" method="POST">
		{% else %}
			<form action="/api/change_data?redirect=/admin/platforms" method="POST">
		{% endif %}

			<input type="hidden" name="platform_id" value="{{ platform['platform_id'] }}">

			<p>Название</p>
			<input type="text" name="name" value="{{ platform['name'] }}" required>

			<p>URL</p>
			<input type="text" name="url" value="{{ platform['url'] }}" required>

			<input type="submit" value="Сохранить">
			<input type="button" class="back" onclick="location.href = 'platforms';" value="Назад">
		
		</form>
	</div>
{% endblock %}

{% block head_scripts %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<script type="text/javascript">
		const request_get_values = new Map();

		let get_values_list = window.location.search.replace("?", "").split('&');
		for (var i = 0; i < get_values_list.length; i++) 
		{
			let get_elems = get_values_list[i].split("=");
			request_get_values.set(get_elems[0], get_elems[1]);
		}
	</script>
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript">

		function on_select_change(select_elem)
		{
			let index = select_elem.selectedIndex;
			select_elem.innerHTML = select_elem.innerHTML.replaceAll('selected=""', "");

			let option = select_elem.options[index];
			option.outerHTML = option.outerHTML.replace("<option", "<option selected");
		}

		function on_refresh_button_click(platform_id = "{{ platform['platform_id'] }}",
										 platform_name = "{{ platform['name'] }}") {
			let url = document.getElementById('upload_url').value
			let files_list = document.getElementById('upload_file').files

			if (url !== "") {
				$.post('/api/change_data', {
					'platform_id': platform_id,
					'photo_url': url,
					'platform_name': platform_name
				}).done(() => window.location.reload())
				return;
			}

			if (files_list.length !== 0) {
				let form_data = new FormData();
				form_data.append("file", files_list[0])
				form_data.append('platform_id', platform_id)
				form_data.append('platform_name', platform_name)

				$.ajax('/api/change_data', {
					type: 'POST',
					data: form_data,
					contentType: false,
					cache: false,
					processData: false,
					success: () => window.location.reload()
				})
			}
		}
	</script>
{% endblock %}