{% extends './layouts/admin_base.html' %}

{% block title %}{{ release["name"] }}{% endblock %}

{% block content %}
	<h1>Редактирование: {{ release["name"] }}</h1>

	<div class="side">
		<div class="blackout">
			<form id="upload" enctype="multipart/form-data" method="post">
				<input id="upload_url" type="text" accept="*/*" placeholder="По URL">
				<label for="file-upload" class="custom-file-upload">
					Выберите файл
				</label>
				<input id="file-upload" type="file" accept="image/*">
			</form>

			<button id="refresh_image" onclick="on_refresh_button_click()">REFRESH BUTTON</button>
		</div>

		<img src="{{ release['cover_url'] }}">
	</div>

	<div class="side">
		<h2>{{ artists_names }}</h2>

		{% if release['release_id'] == 'NEW' %}
			<form action="/api/create_object?redirect=/releases" method="POST">
		{% else %}
			<form action="/api/change_data?redirect=/releases" method="POST">
		{% endif %}

			<input type="hidden" name="release_id" value="{{ release['release_id'] }}">

			<p>Название релиза</p>
			<input type="text" name="name" value="{{ release['name'] }}" required>

			<p>Исполнители</p>
			<div class="artists" id="authors" name="authors">
				{% for author in authors %}
					<select name="authors-0" onchange="on_select_change(this);" required>
						{% for artist in artists %}
							<option>{{ artist["name"] }}</option>
						{% endfor %}
					</select>
				{% endfor %}
			</div>
			<button type="button" onclick="add_new_artist('authors');">+</button>

			<p>Артисты, через 'feat.'</p>
			<div class="artists" id="feats" name="feats">
				{% for feat in feats %}
					<select name="feats-0" onchange="on_select_change(this);">
						{% for artist in artists %}
							{% if artist['name'] == feat['name'] %}
								<option selected>{{ artist["name"] }}</option>
							{% else %}
								<option>{{ artist["name"] }}</option>
							{% endif %}
						{% endfor %}
					</select>
				{% endfor %}
			</div>
			<button type="button" onclick="add_new_artist('feats');">+</button>

			<p>Сокращённый ID релиза</p>
			<input type="text" name="path" value="{{ release['path'] }}" required>

			<p>Дата релиза</p>
			<input type="datetime-local" name="release_date" value="{{ release['release_date'] }}" required>

			<p>Тип</p>
			<select name="type" onchange="on_select_change(this);" required>
				{% for type in ["SINGLE", "EP", "ALBUM"] %}
					{% if type == release['type'] %}
						<option selected>{{ type }}</option>
					{% else %}
						<option>{{ type }}</option>
					{% endif %}
				{% endfor %}
			</select>

			<p>Описание релиза</p>
			<textarea type="text" name="description">{{ release['description'] }}</textarea>

			<p>Площадки для публикации</p>
			<div class="platforms-choose">
				{% for platform in platforms %}
					<div class="platform-choose">
						<small>{{ platform['name'] }}</small>
						<input type="text" name="platform-{{ platform['name'] }}" placeholder="Ссылка" value="{{ platform['url'] }}">
						<!-- <input type="checkbox" name="{{ platform['name'] }}" checked> -->
					</div>
				{% endfor %}

			</div> 

			<input type="submit" value="Сохранить">
			<input type="button" class="back" onclick="location.href = '/admin//releases';" value="Назад">

		</form>
	</div>
{% endblock %}

{% block head_scripts %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script type="text/javascript">
		const request_get_values = new Map();

		let get_values_list = window.location.search.replace("?", "").split('&');
		for (var i = 0; i < get_values_list.length; i++) 
		{
			let get_elems = get_values_list[i].split("=");
			request_get_values.set(get_elems[0], get_elems[1]);
		}
	</script>
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript">

		function on_select_change(select_elem)
		{
			let index = select_elem.selectedIndex;
			select_elem.innerHTML = select_elem.innerHTML.replaceAll('selected=""', "");

			let option = select_elem.options[index];
			option.outerHTML = option.outerHTML.replace("<option", "<option selected");
		}

		function add_new_artist(div_id) 
		{
			let authors_div = document.querySelector("#" + div_id);
			let release_id = request_get_values.get('id');
			if (release_id === undefined) {release_id = "NEW";}

			$.get('/api/get_artists_in_release_select_element', 
				{
					release_id: release_id
				}, 

				function(data) 
				{
					data = data.replace("%name%", div_id + "-" + authors_div.childElementCount);
					authors_div.innerHTML += data;
				}
			);
		}

		function on_refresh_button_click(release_id = "{{ release['release_id'] }}",
										 release_name = "{{ release['name'] }}") {
			let url = document.getElementById('upload_url').value
			let files_list = document.getElementById('file-upload').files

			if (url !== "") {
				$.post('/api/change_data', {
					'release_id': release_id,
					'photo_url': url,
					'photo_name': release_name
				}).done(clear_update_icon_inputs_and_reload)
				return;
			}

			if (files_list.length !== 0) {
				let form_data = new FormData();
				form_data.append("file", files_list[0])
				form_data.append('release_id', release_id)
				form_data.append('photo_name', release_name)

				$.ajax('/api/change_data', {
					type: 'POST',
					data: form_data,
					contentType: false,
					cache: false,
					processData: false,
					success: clear_update_icon_inputs_and_reload
				})
			}
		}

		function clear_update_icon_inputs_and_reload() {
			document.getElementById('upload_url').value = "";
			document.getElementById('file-upload').value = "";

			window.location.reload();
		}
	</script>
{% endblock %}